{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}
{% block background %}{% load static %} {% static 'img/contact-bg.jpg' %} {% endblock %}
{% block header %}
    <h1 id="q" align="center">Contacto</h1>
    <h3 align="center"> Acesoria </h3>
{% endblock %}
{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <br>
          <p>Me puede contactar mediante:</p>
          <p><b>Teléfono:</b> +593 98 487 1360</p>
        </div>
      </div>
    </div>
{% endblock %}