{% extends 'core/base.html' %}
{% block title %} Inicio {% endblock %}
{% block background %}{% load static %} {% static 'img/logo1.png' %} {% endblock %}
{% block header %}
    <h1 id="q" align="center">Portada</h1>
    <p align="center"><img src="/static/img/utm.jpg"></p>
    <p id="z" align="center">Desarrollardor de la UTM le presenta la pagina web </p>
    <p align="left">
        <font size="4" id="a">Nombres: </font> <font size="2" id="b">Kevin Daniel</font><br>
        <font size="4" id="a">Apellidos: </font> <font size="2" id="b">Conforme Moreira</font><br>
        <font size="4" id="a">Asignatura: </font> <font size="2" id="b">Desarrollo de Sistemas Informatico</font><br>
    </p>
    <!--<h1>Kevin Conforme</h1>
    <span class="subheading">Ingeniero Industrial</span>-->
{% endblock %}
